body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: Ubuntu;
  font-style: normal;
  line-height: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset;
}

.header {
  box-sizing: border-box;
  padding: 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s linear;
}

.header:hover .header-logo {
  color: #3cb878;
  cursor: pointer;
}

.header-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.icon-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 25px;
  transition: 0.3s linear;
}

.header:hover .icon-box {
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.icon-svg {
  fill: #fff;
  transition: 0.3s linear;
}

.header:hover .icon-svg {
  fill: #3cb878;
}

.header-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s linear;
}

.header:hover .header-text {
  color: #898989;
}
.header-link-hover {
  color: #fff;
  transition: 0.3s linear;
}

.header:hover .header-link-hover {
  color: #3cb878;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.modal {
  box-sizing: border-box;
  width: 444px;
  height: 584px;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  padding: 29px 59px 38px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.modal-sign-up-text {
  color: #434343;
  font-size: 20px;
  font-weight: 400;
}

.modal-sign-up-text::before {
  content: " ";
  background-color: #3cb878;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 29px;
}

.modal-log-in-text {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s linear;
}

.modal-log-in-text:hover {
  color: #01813f;
  text-decoration: underline;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}

.modal-button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-button-F {
  padding: 10px 22px 10px 11px;
  background-color: #305db8;
  border: #305db8;
  transition: 0.3s linear;
}

.modal-button-F:hover {
  background-color: #022263;
}

.symbol-F {
  border-right: 1px solid rgba(10, 22, 47, 0.1);
  padding-right: 13px;
}

.modal-button-G {
  padding: 10px 27px 10px 12px;
  background-color: #df4a32;
  border: #df4a32;
  transition: 0.3s linear;
}

.symbol-G {
  border-right: 1px solid rgba(43, 13, 9, 0.1);
  padding-right: 7px;
}

.modal-button-G:hover {
  background-color: #ab1f09;
}

.modal-decor {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.modal-text-decor {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  position: relative;
}

.modal-text-decor::before {
  content: " ";
  display: block;
  background: #f2f2f2;
  width: 152px;
  height: 1px;
  position: absolute;
  top: 50%;
}

.modal-text-decor::after {
  content: " ";
  background: #f2f2f2;
  width: 152px;
  height: 1px;
  position: absolute;
  top: 50%;
}

input::placeholder {
  color: #bebebe;
}

.form-input {
  display: block;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 15px 20px;
  color: #434343;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  transition: 0.3s linear;
}

.form-input:focus {
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  margin-bottom: 12px;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}

.policy-box {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #434343;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 12px;
}

.policy-box::before {
  content: " ";
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background: rgba(0, 0, 0, 0);
  margin-right: 8px;
}

.policy-box-link {
  color: #3cb878;
  transition: 0.3s linear;
}

.policy-box-link:hover {
  text-decoration: underline;
  color: #01813f;
}

.submit-button {
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  padding: 16px 99px;
  margin-top: 20px;
  border: rgba(60, 184, 120, 0.8);
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  transition: 0.3s linear;
}

.submit-button:hover {
  background: #01813f;
}

.policy-checkbox:checked + .policy-box::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
